/* General styles */
@keyframes wobble {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  75% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  max-width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

@keyframes color {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}

.box {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 5px solid transparent;
  outline: none;
  padding: 25px;
  margin: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  transition: transform 0.9s, box-shadow 0.9s;
  width: 100%;
  max-width: 335px;
}

.box:hover {
  animation: wobble 0.5s ease-in-out 1;
}

canvas {
  transition: transform 0.9s, box-shadow 0.9s, border 0.9s;
  background: linear-gradient(135deg, #1d1d1d, #3a3a3a);
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  border: 5px solid transparent;
  background-clip: padding-box;
  margin-bottom: 20px;
}

.midColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  background-color: rgba(0, 0, 0, 0.753);
}

#popup-content {
  background-color: rgba(255, 255, 255, 0.726);
  text-align: center;
  width: 80%;
  max-width: 400px;
  padding: 50px;
  margin: 10% auto;
}

.close {
  float: right;
  cursor: pointer;
}

input {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border: 5px solid transparent;
  outline: none;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: rgba(51, 47, 47, 0.192);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  margin: 8px;
  padding: 10px 20px;
  font-size: 11px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(45deg, #9c05176b, #2012857c, #aa671f71, #21a58681);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: 300% 300%;
  animation: color 12s infinite;
}

#scoresList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoresList li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #cccccc9f;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#scoresList li:last-child {
  border-bottom: none;
}

#Score {
  text-align: center;
}

.midColumn #Score {
  margin-bottom: 0px;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Adjustments for small screens (iPhone and similar) */
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .box, .midColumn {
    width: 90%;
    max-width: 320px;
  }

  #popup-content {
    width: 90%;
    max-width: 300px;
  }

  input {
    width: 80%;
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for tablet screen sizes */
  .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .box, .midColumn {
    width: 100%;
    max-width: 335px;
  }

  #popup-content {
    width: 60%;
    max-width: 400px;
  }

  input {
    width: 60%;
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  /* Adjustments for full screen sizes */
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .box, .midColumn {
    width: 100%;
    max-width: 400px;
  }

  #popup-content {
    width: 50%;
    max-width: 500px;
  }

  input {
    width: 50%;
    max-width: 350px;
  }
}

@media (min-width: 1440px) {
  /* Adjustments for larger screen sizes and half-screen (square) */
  .container {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
  }

  .box, .midColumn {
    width: 45%;
    max-width: 600px;
  }

  #popup-content {
    width: 40%;
    max-width: 600px;
  }

  input {
    width: 40%;
    max-width: 400px;
  }
}
